# Dependencies
node_modules/
dist/
build/
.env

# Hardhat artifacts
artifacts/
cache/

# Logs and databases
*.log
data/db.json
g:\ARC\ai-agent-marketplace\backend\data\db.json

# IDE config files
.idea/
.vscode/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
